{% extends 'root.html' %}
{% block content %}
    <div style="width: 100%; display: flex; flex-direction: column; align-items: center;">
        <h1 style="margin-top: 50px; color: #fff;">Форма по добавлению статьи</h1>
        <form method="post" style="margin-top: 20px;">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.anons }}<br>
            {{ form.full_text }}<br>
            {{ form.date }}<br>
            {{ form.author }}<br>
            <button type="submit" class="btn btn-success">Добавить</button>
        </form>
    </div>
{% endblock %}