{% extends 'root.html' %}
{% block content %}
    <div class="card text-center" style="width: 100%; display: flex; flex-direction: column; align-items: center;background: #FDFCD3; width: 80%; margin-top: 50px; padding: 20px;">
        <a href="{% url 'news:news_home' %}" style="color: #000; text-decoration: none; align-self: flex-start"><i class="fa-solid fa-arrow-left"></i> Назад</a>
        <h1 class="card-text">{{ article.title }}</h1>
        <p class="card-text">{{ article.date }}</p>
        <p class="card-text" style="text-align: justify;">{{ article.full_text }}</p>
        <p class="card-text" style="align-self: flex-end;">Автор: {{ article.author }}</p>
    </div>

    <hr style="width: 80%; color: #fff; margin-top: 20px;">

    <h1 style="margin-top: 50px; color: #fff;">Комментарии</h1>

    <div>
        {% include 'comments/comments.html' %}
    </div>

{% endblock %}