{% extends 'root.html' %}
{% block content %}
    <div style="width: 100%; display: flex; flex-direction: column; align-items: center;">
        <h1 style="margin-top: 50px; color: #fff;">О нас</h1>
        <p style="color: #fff; font-size: 20px; margin-top: 20px; width: 80%;">
            IT-prosvet - это новый онлайн-ресурс, который был запущен в 2023 году. Сайт предоставляет пользователям возможность читать и добавлять статьи, посвященные IT-сфере. Наша миссия - помочь людям расширить свои знания в области информационных технологий, открывая для них новые горизонты в этой быстро развивающейся индустрии.

На IT-prosvet вы найдете широкий спектр тем, от новых технологий и программного обеспечения до кибербезопасности и искусственного интеллекта. Мы стремимся предоставлять нашим пользователям самую актуальную информацию и новости из мира IT, а также обучающие материалы и советы от профессионалов.

Кроме того, на IT-prosvet вы можете стать автором и добавить свою собственную статью, чтобы поделиться своими знаниями и опытом с другими людьми. Мы верим, что каждый может внести свой вклад в IT-сообщество и помочь другим развиваться в этой области.

Присоединяйтесь к IT-prosvet и откройте для себя новые горизонты в мире информационных технологий!
        </p>
    </div>
{% endblock %}