{% extends 'root.html' %}
{% block content %}
    <div style="width: 100%; display: flex; flex-direction: column; align-items: center;">
        <h1 style="margin-top: 50px; color: #fff;">Контакты</h1>
        <p style="color: #fff; font-size: 20px; margin-top: 20px; width: 80%;">
            Телефон 1: +7 (933) 453-56-32<br>
            Телефон 2: +7 (911) 833-42-12<br>
            Email: itprosvet@gmail.com<br>
        </p>
        <p style="color: #fff; font-size: 20px; margin-top: 20px; width: 80%;">
            Социальные сети:
        </p>
        <div style="display: flex; width: 15%; justify-content: space-between;">
            <a href="#" style="text-decoration: none; font-size: 20px;" class="badge badge-primary"><i class="fa-brands fa-vk"></i></a>
            <a href="#" style="text-decoration: none; font-size: 20px;" class="badge badge-primary"><i class="fa-brands fa-telegram"></i></a>
            <a href="#" style="text-decoration: none; font-size: 20px;" class="badge badge-primary"><i class="fa-brands fa-youtube"></i></a>
            <a href="#" style="text-decoration: none; font-size: 20px;" class="badge badge-primary"><i class="fa-brands fa-tiktok"></i></a>
        </div>
    </div>
{% endblock %}